<section class="py-4">
    <div class="container-lg">
      <h2 class="my-4">People are also looking for</h2>
      <a href="#" class="btn btn-warning me-2 mb-2">Eyewear</a>
      <a href="#" class="btn btn-warning me-2 mb-2">John Jacobs's stylish Glasses</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Sobhita's choice</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Pro Titanium Product</a>
      <a href="#" class="btn btn-warning me-2 mb-2">MASABA's favourite</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Women's Wear</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Best Selling Products</a>
      <a href="#" class="btn btn-warning me-2 mb-2">New Arrivals</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Highest Ratings</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Lenskart STUDIO</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Celebrity Favourites</a>
      <a href="#" class="btn btn-warning me-2 mb-2">HOTpicks</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Biggest Price Drop</a>
      
    </div>
  </section>
